h1 {
    font-family: 'Potta One', cursive;  /* Font familys to use for h1 headers, has 3 because if the first isnt available then go to second and so on. */
    font-size: 22px;  /* font size */
    font-style: normal;  /* this is for italic or normal */
    font-weight: bold;    /* this is for the level of boldness of the font */
/* this is the alignment - justified means if the text is in a box, it spaces out the letters space in the box*/    text-align: center; 
    text-decoration: underline ; /* This is the setting like underline and stuff*/
    text-indent: 0px ; /* This indents text by specified amount*/
    text-transform: none; /* change to all caps and other settings - Uppercase is all caps, capitalize is caps on first letters*/
    color: rgb(0, 0, 0); /* change color of text use # for hexi colours and rgb(255,255,255)  you can used rgba(0,0,0,0) add a 4th number between 1 and 0 as the final number then this effects transparancy */
    letter-spacing: 0px; /* this effects kerning ( letter spacing)*/
    word-spacing: 0px; /* this effects space between words*/
    line-height: 0px; /* this effects space between lines*/
    
    
}
h2 {
    font-family: 'ZCOOL KuaiLe', cursive;  /* Font familys to use for h1 headers, has 3 because if the first isnt available then go to second and so on. */
    font-size: 7vw ;  /* font size */
    font-style: normal;  /* this is for italic or normal */
    font-weight: bolder;    /* this is for the level of boldness of the font */
    text-align: center; /* this is the alignment - justified means if the text is in a box, it spaces out the letters space in the box*/    
    text-decoration: none ; /* This is the setting like underline and stuff*/
    text-indent: 0px ; /* This indents text by specified amount*/
    text-transform: none; /* change to all caps and other settings - Uppercase is all caps, capitalize is caps on first letters*/
    color: #000000; /* change color of text use # for hexi colours and rgb(255,255,255)  you can used rgba(0,0,0,0) add a 4th number between 1 and 0 as the final number then this effects transparancy */
    letter-spacing: 0px; /* this effects kerning ( letter spacing)*/
    word-spacing: 0px; /* this effects space between words*/
    line-height: 0px; /* this effects space between lines*/
    overflow-wrap: normal;
    
}

q{
    font-size: 10;  /* font size */
    font-style: normal;  /* this is for italic or normal */ 
}
p{
    font-size: 22px;  /* font size */
    text-align: center; /* this is the alignment - justified means if the text is in a box, it spaces out the letters space in the box*/    
    color: black; 
}
